<div class="modal-header">
    <h3 class="modal-title" id="modal-title">
        Информация о сравнении
        <button type="button" class="close" ng-click="$ctrl.cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-xs-4">Первая БД</div>
        <div class="col-xs-8">{{$ctrl.status.dbPath1 || '&mdash;'}}</div>
    </div>
    <div class="row">
        <div class="col-xs-4">Вторая БД</div>
        <div class="col-xs-8">{{$ctrl.status.dbPath2 || '&mdash;'}}</div>
    </div>
    <div class="row">
        <div class="col-xs-4">Путь к сравнению</div>
        <div class="col-xs-8">{{$ctrl.status.savePath || '&mdash;'}}</div>
    </div>
    <div class="row">
        <div class="col-xs-4">Размер</div>
        <div class="col-xs-8">{{$ctrl.status.size ? (status.size | bytes) : '&mdash;'}}</div>
    </div>
</div>
